.changeset
.scratch/**
.github
.vscode
Microsofts-Compare-tool/**
CONTEXT.md
artifacts/**
dist/__test__
.vscode-test/**
node_modules
scripts/**
src/
.eslintrc.json
.gitignore
.npmrc
.vscodeignore
package-lock.json
*.vsix
dist/**
!dist/extension.js
dist/**/*.map
tsconfig.json
webpack.config.json
.history
